<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>LuaViewSDK copy.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>LuaViewSDK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>temp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8408F09E1BE4DAC70084448D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8418E33F1A5E67FC00158125</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8418E3491A5E67FC00158125</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>848B5C1D1A0A4CA000F59678</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>848B5C361A0A4CA000F59678</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84C1D6991C16B09D0058E974</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84C1D6A21C16B09D0058E974</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84C1D7C31C16C3CD0058E974</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
